// _sass/custom/setup.scss
$pink-000: #f77ef1;
$pink-100: #f967f1;
$pink-200: #e94ee1;
$pink-300: #dd2cd4;
// colors provided by kryppers
$quartz-000: #FFA596;
$quartz-100: #FB6B7C;
$quartz-200: #F74572;
$quartz-300: #C83264;
$zinc-000: #C1ECC9;
$zinc-100: #ADC6A9;
$zinc-200: #9AA490;
$zinc-300: #888B79;
$brass-000: #FFF9BF;
$brass-100: #FFEB8C;
$brass-200: #F7CB6C;
$brass-300: #CEA05A;
$brass-400: #AF794F;
$andesite-000: #B4C1B8;
$andesite-100: #9AA49D;
$andesite-200: #828784;
$andesite-300: #707570;
$andesite-400: #60635F;
$andesite-500: #505351;
$andesitecasing-000: #886539;
$andesitecasing-100: #82613A;
$andesitecasing-200: #7A5A34;
$andesitecasing-300: #70522E;
$andesitecasing-400: #614B2E;
$andesitecasing-500: #5A4424;
$brasscasing-000: #53361E;
$brasscasing-100: #492F1B;
$brasscasing-200: #3E2916;
$brasscasing-300: #3A2415;
$brasscasing-400: #301E12;
$brasscasing-500: #291A10;


