// _sass/custom/setup.scss
$pink-000: #f77ef1;
$pink-100: #f967f1;
$pink-200: #e94ee1;
$pink-300: #dd2cd4;
// platforms
$cf-000: #F16436;
$mdr-000: #1BD96A;
// custom callout color definitions
$call-purple-000: #CFBDFE;
$call-purple-100: #B3A2E1; // purple label color
$call-purple-200: #9887C5;
$call-purple-300: #CFBDFE; // note callout title and accent color ... old color #7D6DA8 THOUGHT previously it was the parent page icon and txt color in search maybe
$call-blue-000: #343f90; // important callout bg container color
$call-blue-100: #9aa5fd; // blue label color
$call-blue-200: #dfe0ff;
$call-blue-300: #bcc2ff; // important callout title color
$call-green-000: #005233; // new callout bg container color
$call-green-100: #003822; 
$call-green-200: #6dfcb5; // green label color
$call-green-300: #4cdf9b; // new callout title color
$call-yellow-000: #ffeb82;
$call-yellow-100: #fadf50;
$call-yellow-200: #8f7503; // yellow label color
$call-yellow-300: #e7af06;
$call-red-000: #93000a; // warning callout bg container color
$call-red-100: #690005;
$call-red-200: #ff897d; // red label color
$call-red-300: #ffb4ab; // warning callout title color
// colors provided by kryppers
$quartz-000: #FFA596;
$quartz-100: #FB6B7C;
$quartz-200: #F74572;
$quartz-300: #C83264;
$zinc-000: #C1ECC9;
$zinc-100: #ADC6A9;
$zinc-200: #9AA490;
$zinc-300: #888B79;
$brass-000: #FFF9BF;
$brass-100: #FFEB8C;
$brass-200: #F7CB6C;
$brass-300: #CEA05A;
$brass-400: #AF794F;
$andesite-000: #B4C1B8;
$andesite-100: #9AA49D;
$andesite-200: #828784;
$andesite-300: #707570;
$andesite-400: #60635F;
$andesite-500: #505351;
$andesitecasing-000: #886539;
$andesitecasing-100: #82613A;
$andesitecasing-200: #7A5A34;
$andesitecasing-300: #70522E;
$andesitecasing-400: #614B2E;
$andesitecasing-500: #5A4424;
$brasscasing-000: #53361E;
$brasscasing-100: #492F1B;
$brasscasing-200: #3E2916;
$brasscasing-300: #3A2415;
$brasscasing-400: #301E12;
$brasscasing-500: #291A10;


